<!DOCTYPE html>
<html lang="en-us">
<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>{{ page.title }}</title>
        
	<meta name="author" content="Ross Harmes">
	<meta name="description" content="">
        <meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/css/eightquarters.css" type="text/css">

</head>
<body>

	<header>
		<h1>8/4</h1>
		<nav>
			<ul>
				<li><a href="/">Latest</a></li>
				<li><a href="/posts/">Posts</a></li>
				<li><a href="https://github.com/rharmes/eightquarters/tree/gh-pages">About</a></li>
			</ul>
		</nav>
	</header>

	{{ content }}

	<footer>
		&copy 2013 Ross Harmes
	</footer>
</body>
</html>